.card {
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  display: inline-block;
  max-width: 800px;
  padding: 5em;
  margin-left: 5em;
  margin-right: 5em;
  min-width: 800px;
}
@media only screen and (max-width: 600px){
	.card {
		padding: 1em;
		margin-left: 2.3em;
		margin-right: 2.3em;
	  }
	.card h2{
		font-size: 1.2em;
	}
}

.input {
	outline: none !important;
	background: rgba(255,255,255,0);
	color: black;
	width: 100%;
	border: none;
  	border-bottom: 2px solid;
  	padding: 15px;
}


.nxt_button{
	margin-top: 5px;
	color: white;
	padding: 5px;
	background-color: black;
	border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

.buttons ul li{
  color: black;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #333;
}

.buttons ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.buttons ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 20px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.buttons ul li:hover label{
	color: #ffff00;
}

.buttons ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #000000;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.buttons ul li:hover .check {
  border: 5px solid #ffff00;
}

.buttons ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 0px;
	left: 0px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #ffff00;
}

input[type=radio]:checked ~ .check::before{
  background: #ffff00;
}

input[type=radio]:checked ~ label{
  color: #ffff00;
}


.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
  font-size: 25px;
  border-bottom: 2px solid grey ;

}

.list__item input:hover {
	color: yellow;
}

.label--checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
  color: black;
}

.label--checkbox:hover {
  color: yellow;
}
