.card {
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  display: inline-block;
  max-width: 800px;
  padding: 5em;
  margin-left: 7em;
  margin-right: 3em;
  margin-bottom: 0.1em;
  margin-top: 6em;
  z-index:2;

}
@media only screen and (max-width: 600px){
	.card {
		padding: 1em;
		margin-left: 2.3em;
		margin-right: 2.3em;
	  }
	.card h2{
		font-size: 1.2em;
	}
}

.input {
	background: rgba(255,255,255,0);
	color: black;
	width: 100%;
	border: none;
  	border-bottom: 2px solid;
}

.nxt_button{
	margin-top: 5px;
	color: white;
	padding: 5px;
	background-color: black;
	border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}
